@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Phudu', cursive;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
width: 0;
}
body{
background-color: #ffe135;

}
.modal-footer{border: none;}
.modal-header{ border: none;}
.modal-content{
background-image: url('/image/Pin\ by\ Sassi\ on\ Quick\ Saves\ _\ Iphone\ wallpaper\ kawaii\,\ Black\ and\ purple\ wallpaper\,\ Light\ purple\ wallpaper.jpeg');

}
.modal-footer button{
color: black !important;
background-color:  rgba(153,0,255,1);
border: none;
}
.btn:hover{
background-color: #ffe135;
}
header{
width: 100%;
height: 100px;
background-color: #ffe135;
}
nav{
width: 100%;
height: 80px;
display: flex;
justify-content: center;
}
.ul{
width: 100%;
height: 80px;
text-align: center;
list-style: none;
align-items: center;
display: flex;

justify-content: center;
}

ul{
width: 50%;
height: 80px;
display: flex;
flex-direction: row;
justify-content: space-between;
text-align: right;
list-style: none;
align-items: center;
}
li{
font-size: 17px;
margin: 0 30px 0 0;
cursor: pointer;
transition: 1s;
}
li:hover{
transform: scale(0.9);
}
.axmad-div{
display: flex;
justify-content: center;
}
.axmad-photo{
margin-top: 20px;
width: 450px ;
border-radius:30px ;
opacity: 0.8;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.home-page{
background-color: #ffe135;
width: 100%;
height: 100vh;

}
.home-fon{

background-image: url('/image/Yellow\ aesthetic\ wallpaper\ for\ laptop.jpeg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
width: 85%;
height: 90vh;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius: 50px;

}

.home-text{
margin-top: 60px;
font-size: 60px;
text-align: center;


}



.cont{
margin: 0 auto;
display: flex;
justify-content: center;
width: 90%;

}
.portfolio-page{
margin-top: 100px;
width: 60%;
height:450px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
border-radius: 30px;
}
.portfolio-fon{
width: 100%;
height: 450px;
border-radius: 20px;
background-image: url('/image/Yellow Background.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
}

.my-inf{
width: 80%;
padding: 50px 0;
text-align: center;

}
.my-inf h2{
padding: 10px;
border-radius:20px ;
backdrop-filter: blur(10px);
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.code-skill-inf{
width: 100%;
height: 40vh;
padding: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
margin-bottom: 200px;
}
.about{
  margin-top: 60px;
font-size: 60px;
text-align: center;
}
.code-skill{
width:23% ;
height: 350px;;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
border-radius:20px ;
text-align: center;
padding: 20px;
background-image: url('/image/Premium\ Vector\ _\ Modern\ gradient\ yellow\ abstract\ memphis\ style\ with\ geometric\ background_.jpeg');
}

.code-skill h1{
border-bottom: 1px dashed black;
}
.code-text{
  padding: 10px;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.footer{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}
footer{
background-image: url('/image/Biblical\ Wallpaper.jpeg');
background-position: center;
width: 100%;
height: 60vh;
display: flex;

justify-content: center;
padding: 100px;
}

.telegram {
  cursor: pointer;
display: flex;
flex-direction: column;
font-size:30px;
margin: 5px 50px;
color: #1E90FF;
}

.instagram{
  cursor: pointer;
display: flex;
flex-direction: column;
font-size:30px;
margin: 5px 50px;
background: -webkit-linear-gradient( rgba(179,0,178,1) 0%, rgba(255,0,0,1) 50%, rgba(255,239,0,1) 100% );
-webkit-background-clip: text;
-webkit-text-fill-color: transparent 
}

.github {
  cursor: pointer;
display: flex;
flex-direction: column;
font-size:30px;
margin: 5px 50px;
color: white;
}

.connct{
  display: flex;
  flex-direction: column;
}

.marvell img{
width: 250px;
opacity: 0.8;
border-radius: 20px;
}