@media (min-width: 1281px ){
    /* PC */
    .portfolio-page{
        margin-top: 100px;
        width: 60%;
        height:500px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 30px;
        }
        .portfolio-fon{
        width: 100%;
        height: 500px;
        border-radius: 20px;
        background-image: url('/image/Yellow Background.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
        
        .my-inf{
        width: 80%;
        padding: 50px 0;
        text-align: center;
        
        }
        .my-inf h2{
        padding: 10px;
        border-radius:20px ;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }

        .code-skill{
            width:30% ;
            height: 350px;;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius:20px ;
            text-align: center;
            padding: 20px;
            background-image: url('/image/Premium\ Vector\ _\ Modern\ gradient\ yellow\ abstract\ memphis\ style\ with\ geometric\ background_.jpeg');
            }
}
@media (min-width: 1024px ) and (max-width:1280px){ 
     /* laptop */
  
}
@media (min-width: 768px ) and (max-width: 1023px ) {
   /* tablet */
   .cont{
    width: 98%;
    
        }
        nav{
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: center;
            }
            .ul{
            width: 100%;
            height: 80px;
            text-align: center;
            list-style: none;
            align-items: center;
            display: flex;
            
            justify-content: center;
            }
            
            ul{
            width: 80%;
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            text-align: right;
            list-style: none;
            align-items: center;
            }
            li{
            font-size: 17px;
            margin: 0 30px 0 0;
            cursor: pointer;
            transition: 1s;}
    /* ===================home-start================= */
        .axmad-photo{
        margin-top: 20px;
        width: 300px ;
        border-radius:20px ;
        opacity: 0.8;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        }
        
        .home-page{
        background-color: #ffe135;
        width: 100%;
        height: 100vh;
        
        }
        .home-fon{
        
        background-image: url('/image/Yellow\ aesthetic\ wallpaper\ for\ laptop.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 96%;
        height: 80vh;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius: 50px;
        
        }
        
        .home-text{
        margin-top: 40px;
        font-size: 50px;
        text-align: center;
        
        
        }
    /* ===================home-end================= */
    
    /* =====================after-inf======================= */
    .portfolio-page{
        margin-top: 0px;
        width: 80%;
        height:450px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 30px;
        }
        .portfolio-fon{
        width: 100%;
        height: 450px;
        border-radius: 20px;
        background-image: url('/image/Yellow Background.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        }
        
        .my-inf{
        width: 80%;
        padding: 50px 0;
        text-align: center;
        
        }
        .my-inf h2{
        padding: 10px;
        border-radius:20px ;
        backdrop-filter: blur(10px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        }
    /* =====================after-inf-end======================= */
    
    
    /* =====================skill-start======================= */
    .code-skill-inf{
        width: 100%;
        height: 40vh;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 290px;
        margin-left: 180px;
        }
        .about{
          margin-top: 60px;
        font-size: 60px;
        text-align: center;
        }
        .code-skill{
        width:60% ;
        height: 400px;;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        border-radius:20px ;
        text-align: center;
        padding: 20px;
        margin: 20px 0;
        background-image: url('/image/Premium\ Vector\ _\ Modern\ gradient\ yellow\ abstract\ memphis\ style\ with\ geometric\ background_.jpeg');
        }
        
        .code-skill h1{
        border-bottom: 1px dashed black;
        }
        .code-text{
          padding: 10px;
          backdrop-filter: blur(5px);
          border-radius: 20px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    /* =====================skill-end======================= */
    
    /* =====================footer-start======================= */
    .footer{
        text-align: center;
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      footer{
      background-image: url('/image/Biblical\ Wallpaper.jpeg');
      background-position: center;
      width: 100%;
      height: 50vh;
      display: flex;
      justify-content: space-between;
      margin-top: 600px;
      padding: 30px;
      }
      
      .telegram {
        cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size:30px;
      margin: 5px 50px;
      color: #1E90FF;
      }
      
      .instagram{
        cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size:30px;
      margin: 5px 50px;
      background: -webkit-linear-gradient( rgba(179,0,178,1) 0%, rgba(255,0,0,1) 50%, rgba(255,239,0,1) 100% );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent 
      }
      
      .github {
        cursor: pointer;
      display: flex;
      flex-direction: column;
      font-size:30px;
      margin: 5px 50px;
      color: white;
      }
      
      .connct{
        display: flex;
        flex-direction: column;
      }
      
      .marvell img{
      width: 200px;
      opacity: 0.8;
      border-radius: 20px;
      }
    /* =====================footer-end======================= */


  
}
@media (min-width: 481px ) and ( max-width:767px) {
    /* phone big */
    .cont{
        width: 90%;
        
            }
        li{
        display: none;
        
        }
        /* ===================home-start================= */
            .axmad-photo{
            margin-top: 20px;
            width: 200px ;
            border-radius:20px ;
            opacity: 0.8;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            }
            
            .home-page{
            background-color: #ffe135;
            width: 100%;
            height: 100vh;
            
            }
            .home-fon{
            
            background-image: url('/image/Yellow\ aesthetic\ wallpaper\ for\ laptop.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 96%;
            height: 65vh;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius: 50px;
            
            }
            
            .home-text{
            margin-top: 40px;
            font-size: 50px;
            text-align: center;
            
            
            }
        /* ===================home-end================= */
        
        /* =====================after-inf======================= */
        .portfolio-page{
            margin-top: 0px;
            width: 100%;
            height:450px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            border-radius: 30px;
            }
            .portfolio-fon{
            width: 100%;
            height: 480px;
            border-radius: 20px;
            background-image: url('/image/Yellow Background.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            }
            
            .my-inf{
            width: 90%;
            padding: 50px 0;
            text-align: center;
            
            }
            .my-inf h2{
            padding: 5px;
            border-radius:20px ;
            backdrop-filter: blur(10px);
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
        /* =====================after-inf-end======================= */
        
        
        /* =====================skill-start======================= */
        .code-skill-inf{
            width: 100%;
            height: 40vh;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-bottom: 150px;
            }
            .about{
              margin-top: 60px;
            font-size: 60px;
            text-align: center;
            }
            .code-skill{
            width:100% ;
            height: 450px;;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            border-radius:20px ;
            text-align: center;
            padding: 20px;
            margin: 20px 0;
            background-image: url('/image/Premium\ Vector\ _\ Modern\ gradient\ yellow\ abstract\ memphis\ style\ with\ geometric\ background_.jpeg');
            }
            
            .code-skill h1{
            border-bottom: 1px dashed black;
            }
            .code-text{
              padding: 10px;
              backdrop-filter: blur(5px);
              border-radius: 20px;
              box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
            }
        /* =====================skill-end======================= */
        
        /* =====================footer-start======================= */
        .footer{
            text-align: center;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
          footer{
          background-image: url('/image/Biblical\ Wallpaper.jpeg');
          background-position: center;
          width: 100%;
          height: 80vh;
          display: flex;
          justify-content: center;
          margin-top: 600px;
          padding: 10px;
          }
          
          .telegram {
            cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size:30px;
          margin: 5px 50px;
          color: #1E90FF;
          }
          
          .instagram{
            cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size:30px;
          margin: 5px 50px;
          background: -webkit-linear-gradient( rgba(179,0,178,1) 0%, rgba(255,0,0,1) 50%, rgba(255,239,0,1) 100% );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent 
          }
          
          .github {
            cursor: pointer;
          display: flex;
          flex-direction: column;
          font-size:30px;
          margin: 5px 50px;
          color: white;
          }
          
          .connct{
            display: flex;
            flex-direction: column;
          }
          
          .marvell img{
          width: 200px;
          opacity: 0.8;
          border-radius: 20px;
          }
        /* =====================footer-end======================= */
  
}
@media (min-width: 320px ) and (max-width:480px) {
    /* phone */
    .cont{
width: 98%;

    }
li{
display: none;

}
/* ===================home-start================= */
    .axmad-photo{
    margin-top: 20px;
    width: 200px ;
    border-radius:20px ;
    opacity: 0.8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
    
    .home-page{
    background-color: #ffe135;
    width: 100%;
    height: 100vh;
    
    }
    .home-fon{
    
    background-image: url('/image/Yellow\ aesthetic\ wallpaper\ for\ laptop.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 96%;
    height: 65vh;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 50px;
    
    }
    
    .home-text{
    margin-top: 40px;
    font-size: 50px;
    text-align: center;
    
    
    }
/* ===================home-end================= */

/* =====================after-inf======================= */
.portfolio-page{
    margin-top: 0px;
    width: 100%;
    height:450px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 30px;
    }
    .portfolio-fon{
    width: 100%;
    height: 510px;
    border-radius: 20px;
    background-image: url('/image/Yellow Background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }
    
    .my-inf{
    width: 90%;
    padding: 50px 0;
    text-align: center;
    
    }
    .my-inf h2{
    padding: 5px;
    border-radius:20px ;
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    }
/* =====================after-inf-end======================= */


/* =====================skill-start======================= */
.code-skill-inf{
    width: 100%;
    height: 40vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 200px;
    }
    .about{
      margin-top: 60px;
    font-size: 60px;
    text-align: center;
    }
    .code-skill{
    width:100% ;
    height: 350px;;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius:20px ;
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    background-image: url('/image/Premium\ Vector\ _\ Modern\ gradient\ yellow\ abstract\ memphis\ style\ with\ geometric\ background_.jpeg');
    }
    
    .code-skill h1{
    border-bottom: 1px dashed black;
    }
    .code-text{
      padding: 10px;
      backdrop-filter: blur(5px);
      border-radius: 20px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
/* =====================skill-end======================= */

/* =====================footer-start======================= */
.footer{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer{
  background-image: url('/image/Biblical\ Wallpaper.jpeg');
  background-position: center;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 600px;
  padding: 10px;
  }
  
  .telegram {
    cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size:30px;
  margin: 5px 50px;
  color: #1E90FF;
  }
  
  .instagram{
    cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size:30px;
  margin: 5px 50px;
  background: -webkit-linear-gradient( rgba(179,0,178,1) 0%, rgba(255,0,0,1) 50%, rgba(255,239,0,1) 100% );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent 
  }
  
  .github {
    cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size:30px;
  margin: 5px 50px;
  color: white;
  }
  
  .connct{
    display: flex;
    flex-direction: column;
  }
  
  .marvell img{
  width: 200px;
  opacity: 0.8;
  border-radius: 20px;
  }
/* =====================footer-end======================= */

}